body {
    font-family: Arial, sans-serif;
    background-color: #ffbaba;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

form div {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input {
    width: calc(50% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 30%;
    padding: 10px;
    background: #7c211e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #7c211ec0;
}
div{
	margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: #333;
	
}

#result {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: #333;
}